{% extends "global/Page.html" %}
{% load staticfiles otree %}

{% block title %}
    Информация о выигрышах
{% endblock %}

{% block content %}

    <p>
        Количество слайдеров, которые Вы сделали в этом раунде {{ player.num_of_sliders }}.
    </p>
    <p>
        Ваша производительность в этом раунде {{ player.plr_perf }}.
    </p>
    <p>
        Ваш выигрыш в этом раунде {{ player.plr_payoff }}.
    </p>


    <p><big>Таблица производительности </big></p>
    <style type="text/css">
    .tftable {font-size:12px;color:#333333;width:100%;border-width: 1px;border-color: #729ea5;border-collapse: collapse;}
    .tftable th {font-size:12px;background-color:#acc8cc;border-width: 1px;padding: 8px;border-style: solid;border-color: #729ea5;text-align:left;}
    .tftable tr {background-color:#ffffff;}
    .tftable td {font-size:12px;border-width: 1px;padding: 8px;border-style: solid;border-color: #729ea5;}
    .tftable tr:hover {background-color:#ffff99;}
    </style>

    <table class="tftable" border="1">
    <tr><th>Номер раунда</th><th>Производительность участника 1 (богатый регион)</th><th>Производительность участника 2 ( регион)</th><th>Производительность участника 3 (бедный регион)</th</tr>
    <tr><td>Раунд 0</td><td> {{ group.plr_1_perf_round_0 }} </td><td> {{ group.plr_2_perf_round_0 }} </td></tr>
    <tr><td>Раунд 1</td><td> {{ group.plr_1_perf_round_1 }} </td><td> {{ group.plr_2_perf_round_1 }} </td></tr>
    <tr><td>Раунд 2</td><td> {{ group.plr_1_perf_round_2 }} </td><td> {{ group.plr_2_perf_round_2 }} </td></tr>
    <tr><td>Раунд 3</td><td> {{ group.plr_1_perf_round_3 }} </td><td> {{ group.plr_2_perf_round_3 }} </td></tr>
    <tr><td>Раунд 4</td><td> {{ group.plr_1_perf_round_4 }} </td><td> {{ group.plr_2_perf_round_4 }} </td></tr>
    <tr><td>Кумулятивное значение</td><td> {{ plr_1_total_perf }} </td><td> {{ plr_2_total_perf }} </td></tr>
    </table>

    <p><big>Таблица выигрышей </big></p>

    <style type="text/css">
    .tftable {font-size:12px;color:#333333;width:100%;border-width: 1px;border-color: #729ea5;border-collapse: collapse;}
    .tftable th {font-size:12px;background-color:#acc8cc;border-width: 1px;padding: 8px;border-style: solid;border-color: #729ea5;text-align:left;}
    .tftable tr {background-color:#ffffff;}
    .tftable td {font-size:12px;border-width: 1px;padding: 8px;border-style: solid;border-color: #729ea5;}
    .tftable tr:hover {background-color:#ffff99;}
    </style>

    <table class="tftable" border="1">
    <tr><th>Номер раунда</th><th>Выигрыш участника 1 (богатый регион)</th><th>Выигрыш участника 2 (бедный регион)</th></tr>
    <tr><td>Раунд 0</td><td> {{ group.plr_1_payoff_round_0 }} </td><td> {{ group.plr_2_payoff_round_0 }} </td></tr>
    <tr><td>Раунд 1</td><td> {{ group.plr_1_payoff_round_1 }} </td><td> {{ group.plr_2_payoff_round_1 }} </td></tr>
    <tr><td>Раунд 2</td><td> {{ group.plr_1_payoff_round_2 }} </td><td> {{ group.plr_2_payoff_round_2 }} </td></tr>
    <tr><td>Раунд 3</td><td> {{ group.plr_1_payoff_round_3 }} </td><td> {{ group.plr_2_payoff_round_3 }} </td></tr>
    <tr><td>Раунд 4</td><td> {{ group.plr_1_payoff_round_4 }} </td><td> {{ group.plr_2_payoff_round_4 }} </td></tr>
    <tr><td>Кумулятивное значение</td><td> {{ plr_1_total_payoff }} </td><td> {{ plr_2_total_payoff }} </td></tr>
    </table>

    {% next_button %}
{% endblock %}






