{% extends "global/Page.html" %}
{% load staticfiles otree %}

{% block title %}
    Информация о производительности
{% endblock %}

{% block content %}

    <p>
        Количество слайдеров, которые Вы сделали в этом раунде {{ player.num_of_sliders }}.
    </p>
    <p>
        Ваша производительность в этом раунде {{ player.plr_perf }}.
    </p>
    <p>
        Ваш выигрыш в этом раунде {{ player.plr_payoff }}.
    </p>

    {% next_button %}
{% endblock %}

{% block scripts %}

<script src="https://code.highcharts.com/highcharts.js"></script>
<script src="https://code.highcharts.com/modules/series-label.js"></script>
<script src="https://code.highcharts.com/modules/exporting.js" ></script>

<div id="container" ></div>

<script> $(function () {
    var myChart = Highcharts.chart('container', {
        chart: {
                type: 'column'
            },
        title: {
            text: 'Выигрыши игороков'
        },

{#        subtitle: {#}
{#            text: 'Source: thesolarfoundation.com'#}
{#        },#}

        yAxis: {
            title: {
                text: 'Выигрыши'
            }
        },
        xAxis: {
            title: {
                text: 'Раунды'
            }
        },
        legend: {
            layout: 'vertical',
            align: 'right',
            verticalAlign: 'middle'
        },

        plotOptions: {
            series: {
                label: {
                    connectorAllowed: false
                },
                pointStart: 0
            }
        },

        series: [{
            name: 'Выигрыш игрока 1',
            data: [{{ group.plr_1_payoff_round_0 }}, {{ group.plr_1_payoff_round_1 }}, {{ group.plr_1_payoff_round_2 }},
            {{ group.plr_1_payoff_round_3 }}, {{ group.plr_1_payoff_round_4 }}, {{ group.plr_1_payoff_round_5 }},
                {{ group.plr_1_payoff_round_6 }}]
        }, {
            name: 'Выигрыш игрока 2',
            data: [{{ group.plr_2_payoff_round_0 }}, {{ group.plr_2_payoff_round_1 }}, {{ group.plr_2_payoff_round_2 }},
            {{ group.plr_2_payoff_round_3 }}, {{ group.plr_2_payoff_round_4 }}, {{ group.plr_2_payoff_round_5 }},
            {{ group.plr_2_payoff_round_6 }}]
        }, {
            name: 'Выигрыш игрока 3',
            data: [{{ group.plr_3_payoff_round_0 }}, {{ group.plr_3_payoff_round_1 }}, {{ group.plr_3_payoff_round_2 }},
            {{ group.plr_3_payoff_round_3 }}, {{ group.plr_3_payoff_round_4 }}, {{ group.plr_3_payoff_round_5 }},
            {{ group.plr_3_payoff_round_6 }}]
        }, {
            name: 'Выигрыш игрока 4',
            data: [{{ group.plr_4_payoff_round_0 }}, {{ group.plr_4_payoff_round_1 }}, {{ group.plr_4_payoff_round_2 }},
            {{ group.plr_4_payoff_round_3 }}, {{ group.plr_4_payoff_round_4 }}, {{ group.plr_4_payoff_round_5 }},
            {{ group.plr_4_payoff_round_6 }}]
        }, {
            name: 'Выигрыш игрока 5',
            data: [{{ group.plr_5_payoff_round_0 }}, {{ group.plr_5_payoff_round_1 }}, {{ group.plr_5_payoff_round_2 }},
            {{ group.plr_5_payoff_round_3 }}, {{ group.plr_5_payoff_round_4 }}, {{ group.plr_5_payoff_round_5 }},
            {{ group.plr_5_payoff_round_6 }}]
        }, {
            name: 'Выигрыш игрока 6',
            data: [{{ group.plr_6_payoff_round_0 }}, {{ group.plr_6_payoff_round_1 }}, {{ group.plr_6_payoff_round_2 }},
            {{ group.plr_6_payoff_round_3 }}, {{ group.plr_6_payoff_round_4 }}, {{ group.plr_6_payoff_round_5 }},
            {{ group.plr_6_payoff_round_6 }}]
        }],

        responsive: {
            rules: [{
                condition: {
                    maxWidth: 500
                },
                chartOptions: {
                    legend: {
                        layout: 'horizontal',
                        align: 'center',
                        verticalAlign: 'bottom'
                    }
                }
            }]
        }

    });
});

</script>

{% endblock %}