{% extends "global/Page.html" %}
{% load staticfiles otree_tags %}

{% block title %}
    Здесь Вы можете принять решения о вычетах из доходов каждого участника после раунда {{ current_round }} в размере от 0
    (нет вычета) до 4 (максимальный вычет). Вы потратите 0.2 за каждую единицу вычета у каждого другого участника.
{% endblock %}

{% block content %}

    <table class="table-condensed" style="width:500px; margin-top:20px;">

        <tr><td> Накопленный доход участника 1 составляет </td><td> {{ me_in_all_rounds_1}} </td></tr>
        <tr><td> Накопленный доход участника 2 составляет </td><td> {{ me_in_all_rounds_2}} </td></tr>
        <tr><td> Накопленный доход участника 3 составляет </td><td> {{ me_in_all_rounds_3}} </td></tr>
        <tr><td> Накопленный доход участника 4 составляет </td><td> {{ me_in_all_rounds_4}} </td></tr>
        <tr><td> Накопленный доход участника 5 составляет </td><td> {{ me_in_all_rounds_5}} </td></tr>

        <td><td></td></tr>

        <tr><td> Сумма взносов участника 1 равна </td><td> {{ p1_contr}} </td></tr>
        <tr><td> Сумма взносов участника 2 равна </td><td> {{ p2_contr}} </td></tr>
        <tr><td> Сумма взносов участника 3 равна </td><td> {{ p3_contr}} </td></tr>
        <tr><td> Сумма взносов участника 4 равна </td><td> {{ p4_contr}} </td></tr>
        <tr><td> Сумма взносов участника 5 равна </td><td> {{ p5_contr}} </td></tr>

        <tr><td>Средний взнос в текущем раунде в вашей группе составил </td><td> {{ player.mean_contribution}} </td></tr>

    </table>

    <p>


        {% formfield player.pun_1 with label="Вычеты из доходов участника 1 (от 0 до 4)" %}
        {% formfield player.pun_2 with label="Вычеты из доходов участника 2 (от 0 до 4)" %}
        {% formfield player.pun_3 with label="Вычеты из доходов участника 3 (от 0 до 4)" %}
        {% formfield player.pun_4 with label="Вычеты из доходов участника 4 (от 0 до 4)" %}
        {% formfield player.pun_5 with label="Вычеты из доходов участника 5 (от 0 до 4)" %}

        {% next_button %}

{#    <table class="table">#}
{#    <tr>#}
{#        <th>Offer</th><th>Accept</th><th>Reject</th>#}
{#    </tr>#}
{#    {% for field in form %}#}
{#    <tr>#}
{#        <td>#}
{#            {{ field.label_tag }}#}
{#            {{ field.errors }}#}
{#        </td>#}
{#        <td><input type="radio" name="{{ field.html_name}}" value="True" required {% if field.value|stringformat:"s" == 'True' %}checked{% endif %}></td>#}
{#        <td><input type="radio" name="{{ field.html_name}}" value="False" required {% if field.value|stringformat:"s" == 'False' %}checked{% endif %}></td>#}
{#    </tr>#}
{#    {% endfor %}#}
{#</table>#}
{% endblock %}